html {
    overflow-y: auto !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji  !important;
    color: #353535;
}

.appheader {
    background-color: #fcbe00 !important;
    height: 48px !important;
}

.jumbo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "sans-serif";
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    line-height: 1.375;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.jum-button {
    align-items: center !important;
    background-color: #fdc513  !important;
    border: 1px solid  !important;
    border-color: transparent  !important;
    border-radius: 30px  !important;
    color: #000  !important;
    display: inline-flex  !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji  !important;
    font-size: .875em  !important;
    font-weight: 700  !important;
    min-height: 30px  !important;
    padding-bottom: 4px  !important;
    padding-left: 20px  !important;
    padding-right: 20px  !important;
    padding-top: 4px  !important;
    text-decoration: none  !important;
    transition-duration: .2s  !important;
    transition-property: background-color,border,color  !important;
    transition-timing-function: ease-in-out  !important;
    vertical-align: middle  !important;
}

.jumbo a {
    color: inherit;
    text-decoration: underline;
}

.jumbo *, .jumbo :after, .jumbo :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.v-messages__message {
    position: absolute; 
}

.container{
    max-width: none !important;
 }

.customTitlebar > header {
    flex-shrink: 0;
    display: inline-flex;
    width: 100%;
}

.customContent {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.toolbar-title {
    font-size: 1.25rem !important;
    line-height: 1.5rem;
    font-weight: normal;
    padding-left: 16px;
}

.mainContainer {
    width: 100%;
}

.mapStoreTypes {
    margin-top: 20px;
}

.chipStoreIcon {
    width: 30px;
    margin-right: 10px
}

.chipFavIcon {
    width: 20px;
    margin-right: 10px
}

.searchStoresButton {
    margin-left: 20px !important;
    margin-top: 20px !important;
}

.searchInput {
    min-width: 320px;
}

.v-expansion-panel-header__icon {
    display: none !important;
}

.searchCard {
    border-bottom: 2px solid black !important;
}

.searchResults {
    max-height: 500px;
    overflow-y: auto;
}

button.v-btn[disabled] {
    opacity: 0.6;
}

.v-progress-linear {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.v-toolbar__extension {
    padding: 0px !important;
}

.storeLocator {
    width: calc(100%);
    height: calc(100%);
}

.mapPage {
    width: 100%;
    height: 100%;
}

.mapCard {
    width: 100%;
    height: 100%;
}

.v-expansion-panel--active {
    border: 1px solid black !important;
    border-radius: 4px;
}

.v-expansion-panel {
    border: 1px solid white;
}

.mapToolbar {
    margin-bottom: 5px;
    margin-left: 16px;
    height: 45px !important;
}

.mapToolbar > .v-toolbar__content {
    display: none;
}

.verticalDivider {
    padding-left: 0px !important;
    max-width: 10px !important;
}

.mapHeaderText {
    margin-bottom: 0px !important;
    font-weight: 400;
    color: rgb(38, 38, 38) !important;
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    float: right;
}

.storeDescription {
    max-width: 50px;
}

.v-tabs-slider-wrapper {
    height: 4px !important;
}

@media only screen and (max-width: 650px) {
    .tabText {
        display: none;
    }
}

.searchContainer {
    display: block;
    position: absolute !important;
    overflow: hidden;
    top: 30px !important;
    left: 30px !important;
}

.searchSection {
    display: inline-block;
}

.searchBox {
    padding: 20px;
    padding-bottom: 5px;
}

.searchWrapper {
    margin: 0;
    padding: 0;
    min-width: 100%;
    table-layout: auto;
}

.arrange-fill, .arrange-fit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.arrange-fill {
    width: 100%;
}

.searchBar {
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-family: "JumboRegular";
    padding: 0 40px 0 15px;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}

.searchLabelText {
    font-weight: 400;
    color: rgb(38, 38, 38) !important;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding-top: 3px;
    margin-bottom: 0px !important;
}

.searchLabelTextBold {
    font-weight: 500;
    color: rgb(38, 38, 38) !important;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding-top: 3px;
    padding-left: 7px;
    margin-bottom: 0px !important;
}

.searchButton {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    padding: 0;
    background-color: #FFF;
    border-color: #FFF;
    color: #262626;
    border-width: 0px;
    vertical-align: top;
    position: absolute;
    top: 15px;
    left: 91%;
    left: -webkit-calc(100% - 45px);
    left: calc(100% - 45px);
}

.loginLogo {
    float: right;
}

.appLogo > div {
    margin-top: 0px;
}

.appLogo {
    margin-top: -15px;
}

.logoff {
    margin-top: -13px;
    color: #353535 !important;
    width: 40px !important;
    margin-right: -10px !important;
}

.jumbo-special-yellow {
    font-weight: 400;
    color: #fcbe00;
}

.jumbo-special-black {
    font-weight: 800;
    color: rgb(38, 38, 38)  !important;
    font-size: 24px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.jumbo-black {
    font-weight: 600;
    color: rgb(38, 38, 38)  !important;
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.jumbo-black-city {
    font-weight: 600;
    color: rgb(38, 38, 38)  !important;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px !important;
}

.jumbo-details {
    color: rgb(38, 38, 38)  !important;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.jumbo-details-time {
    font-weight: 500;
    color: rgb(38, 38, 38)  !important;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    white-space: pre !important;
}

.jumbo-details-links {
    display: flex;
    margin-top: 20px;
}

.jumbo-details-store {
    margin-right: 27px;
    margin-top: 3px;
}

.jumbo-details-pup {
    margin-right: 15px;
}

.jumbo-details-link {
    text-decoration: none;
}

.jumbo-details-link > .jumbo-details-img-pup {
    margin-top: 3px;
    margin-left: 9px;
}

.jumbo-details-link > .jumbo-details-img-store {
    margin-top: -1px;
    margin-left: 9px;
}

.jumbo-details-link > span {
    text-align: center;
    text-decoration: underline;
    color: black;
    white-space: nowrap
}

.jumbo-store-time {
    margin-top: 5px;
    color: rgb(68 67 67)  !important
}

.jumbo-store-warning {
    margin-top: 18px;
    color: rgb(68 67 67)  !important
}

.jumbo-details-attention {
    font-weight: 600;
    color: rgb(38, 38, 38)  !important;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px;
    margin-bottom: 5px !important;
    margin-top: 20px;
}

.favorite-button {
    margin-top: -40px;
    margin-right: -10px;
    float: right;
}

.info-panel {
    margin-left: -10px;
}

.left-panel {
    padding-right: 10px;
}

.jumbo-open {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FDC23C;
    background-color: #FDC23C;
    line-height: 12px;
    font-size: 9px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 1px 2px;
    font-weight: 800;
}

.navbar-nav {
    display: inherit;
}

.loginbackground-static {
    background-color: #efc630;
    margin-top: -12px;
    margin-bottom: -12px;
}

.loginOpacity {
    background-color: rgba(78, 72, 72, 0.4);
    height: 100%;
    width: 100%;
}

.loginbackground {
	background: linear-gradient(-45deg, rgb(34, 33, 33), #292925, #443f31, #817a50) !important;
	background-size: 400% 400% !important;
    animation: gradient 20s ease infinite !important;
    -webkit-animation: gradient 20s ease infinite !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
 }
 
 .slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 }
 
 .slide-enter-to, .slide-leave {
    max-height: 100px;
    overflow: hidden;
 }
 
 .slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
 }